.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #eef0f7;
    background-color: #535354;

}

body {
    background-color: #828284;
}

.container {
    position: relative;
    max-width: 1117px;
    margin: 0 auto;
    display: grid;
    gap: 10px;

}

.containerCards {
    column-count: 4;
    column-gap: 10px;
}

img {
    width: 100%;
    margin-bottom: 3px;
}

.containerCards > * {
    border-radius: 10px;
    border: #282c34 solid;
}

.toolbar {
    margin-top: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 30px;
}

.toolbar > * {
    border-radius: 5px;
}